<a href="https://colab.research.google.com/github/san39/Algos/blob/main/upstoxLogin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import urllib.parse
import pandas as pd
import requests

In [2]:
apiKey = '45f740f4-e539-4122-a8e6-dee1740f04b6'
secretKey = 'uuh06c0gn5'
rurl = urllib.parse.quote('https://127.0.0.1:5000/',safe ="")

In [3]:
rurl

'https%3A%2F%2F127.0.0.1%3A5000%2F'

In [4]:
uri= f'https://api-v2.upstox.com/login/authorization/dialog?response_type=code&client_id={apiKey}&redirect_uri={rurl}'
uri

'https://api-v2.upstox.com/login/authorization/dialog?response_type=code&client_id=45f740f4-e539-4122-a8e6-dee1740f04b6&redirect_uri=https%3A%2F%2F127.0.0.1%3A5000%2F'

In [8]:
code = 'SrVj99'

In [9]:
url = 'https://api-v2.upstox.com/login/authorization/token'

headers = {
    'accept': 'application/json',
    'Api-Version': '2.0',
    'Content-Type': 'application/x-www-form-urlencoded'
}

data = {
    'code': code,
    'client_id': apiKey,
    'client_secret': secretKey,
    'redirect_uri': 'https://127.0.0.1:5000/',
    'grant_type': 'authorization_code'
}

response = requests.post(url, headers=headers, data=data)
json_response = response.json()

json_response

{'email': 'pvsanthoshreddy@gmail.com',
 'exchanges': ['NSE', 'BSE', 'NFO', 'MCX', 'CDS'],
 'products': ['OCO', 'D', 'CO', 'I'],
 'broker': None,
 'user_id': '498640',
 'user_name': 'SANTHOSH REDDY  PERAM VENKATA',
 'order_types': ['MARKET', 'LIMIT', 'SL', 'SL-M'],
 'user_type': None,
 'poa': False,
 'is_active': True,
 'access_token': 'eyJ0eXAiOiJKV1QiLCJrZXlfaWQiOiJza192MS4wIiwiYWxnIjoiSFMyNTYifQ.eyJzdWIiOiI0OTg2NDAiLCJqdGkiOiI2NGU5YzdlYmJiMzAyYjZmMTM3ZWQ4MDQiLCJpc011bHRpQ2xpZW50IjpmYWxzZSwiaXNBY3RpdmUiOnRydWUsInNjb3BlIjpbImludGVyYWN0aXZlIiwiaGlzdG9yaWNhbCJdLCJpYXQiOjE2OTMwNDI2NjcsImlzcyI6InVkYXBpLWdhdGV3YXktc2VydmljZSIsImV4cCI6MTY5MzA4NzIwMH0.Wg1ZLoj66dJfRGpELZARlrC4l0yHfry64Y0vMbyB-Vk'}

In [11]:
access_token = json_response['access_token']
print(access_token)

eyJ0eXAiOiJKV1QiLCJrZXlfaWQiOiJza192MS4wIiwiYWxnIjoiSFMyNTYifQ.eyJzdWIiOiI0OTg2NDAiLCJqdGkiOiI2NGU5YzdlYmJiMzAyYjZmMTM3ZWQ4MDQiLCJpc011bHRpQ2xpZW50IjpmYWxzZSwiaXNBY3RpdmUiOnRydWUsInNjb3BlIjpbImludGVyYWN0aXZlIiwiaGlzdG9yaWNhbCJdLCJpYXQiOjE2OTMwNDI2NjcsImlzcyI6InVkYXBpLWdhdGV3YXktc2VydmljZSIsImV4cCI6MTY5MzA4NzIwMH0.Wg1ZLoj66dJfRGpELZARlrC4l0yHfry64Y0vMbyB-Vk

In [13]:
url = 'https://api-v2.upstox.com/user/get-funds-and-margin'
headers = {
    'accept': 'application/json',
    'Api-Version': '2.0',
    'Authorization': f'Bearer {access_token}'
}
params = {
    'segment': 'COM'  #'COM'
}


response = requests.get(url, headers=headers, params=params)
response.json()

{'status': 'success',
 'data': {'commodity': {'used_margin': 0.0,
   'payin_amount': 0.0,
   'span_margin': 0.0,
   'adhoc_margin': 0.0,
   'notional_cash': 0.0,
   'available_margin': 0.0,
   'exposure_margin': 0.0}}}

In [14]:
fileUrl ='https://assets.upstox.com/market-quote/instruments/exchange/complete.csv.gz'
symboldf = pd.read_csv(fileUrl)
symboldf['expiry'] = pd.to_datetime(symboldf['expiry']).apply(lambda x: x.date())
symboldf

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
0,NSE_INDEX|Nifty 50,17.0,NaN,Nifty 50,19386.7000,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
1,NSE_INDEX|NIFTY50 EQL Wgt,NaN,NaN,NIFTY50 EQL Wgt,22826.7000,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
2,NSE_INDEX|NIFTY100 EQL Wgt,NaN,NaN,NIFTY100 EQL Wgt,22656.7500,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
3,NSE_INDEX|NIFTY100 LowVol30,NaN,NaN,NIFTY100 LowVol30,14933.9500,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
4,NSE_INDEX|NIFTY Alpha 50,NaN,NaN,NIFTY Alpha 50,34246.7500,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
...,...,...,...,...,...,...,...,...,...,...,...,...
91103,BCD_FO|2110776,2110776.0,726GS203323SEP102.5PE,726GS2033,2.1550,2023-09-27,102.50,0.25,1.0,FUTCUR,FF,BCD_FO
91104,BCD_FO|2117605,2117605.0,654GS203223AUG94.5CE,654GS2032,1.3550,2023-08-31,94.50,0.25,1.0,FUTCUR,FF,BCD_FO
91105,BCD_FO|2127170,2127170.0,726GS203323OCT98.75PE,726GS2033,0.0525,2023-10-26,98.75,0.25,1.0,FUTCUR,FF,BCD_FO
91106,BCD_FO|2101236,2101236.0,726GS203223DEC97CE,726GS2032,3.0900,2023-12-28,97.00,0.25,1.0,FUTCUR,FF,BCD_FO
91107,BCD_FO|1015022,1015022.0,726GS203223AUG101.75CE,726GS2032,0.0025,2023-08-31,101.75,0.25,1.0,FUTCUR,FF,BCD_FO

In [15]:
niftyDf = symboldf[(symboldf.instrument_type == 'OPTIDX') & (symboldf.tradingsymbol.str.startswith('BANKNIFTY')) &  (symboldf.exchange == 'NSE_FO')]
niftyDf

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
8466,NSE_FO|48482,48482.0,BANKNIFTY23AUG37500CE,NaN,6753.20,2023-08-31,37500.0,0.05,15.0,OPTIDX,CE,NSE_FO
8467,NSE_FO|48483,48483.0,BANKNIFTY23AUG37500PE,NaN,2.40,2023-08-31,37500.0,0.05,15.0,OPTIDX,PE,NSE_FO
8468,NSE_FO|48484,48484.0,BANKNIFTY23AUG38000CE,NaN,6204.05,2023-08-31,38000.0,0.05,15.0,OPTIDX,CE,NSE_FO
8469,NSE_FO|48485,48485.0,BANKNIFTY23AUG38000PE,NaN,2.50,2023-08-31,38000.0,0.05,15.0,OPTIDX,PE,NSE_FO
8470,NSE_FO|48486,48486.0,BANKNIFTY23AUG38500CE,NaN,5728.15,2023-08-31,38500.0,0.05,15.0,OPTIDX,CE,NSE_FO
...,...,...,...,...,...,...,...,...,...,...,...,...
62542,NSE_FO|56781,56781.0,BANKNIFTY23O0549500PE,NaN,4712.60,2023-10-05,49500.0,0.05,15.0,OPTIDX,PE,NSE_FO
62543,NSE_FO|56782,56782.0,BANKNIFTY23O0550000CE,NaN,85.45,2023-10-05,50000.0,0.05,15.0,OPTIDX,CE,NSE_FO
62544,NSE_FO|56783,56783.0,BANKNIFTY23O0550000PE,NaN,5176.15,2023-10-05,50000.0,0.05,15.0,OPTIDX,PE,NSE_FO
62545,NSE_FO|56784,56784.0,BANKNIFTY23O0550500CE,NaN,61.20,2023-10-05,50500.0,0.05,15.0,OPTIDX,CE,NSE_FO
62546,NSE_FO|56785,56785.0,BANKNIFTY23O0550500PE,NaN,5647.80,2023-10-05,50500.0,0.05,15.0,OPTIDX,PE,NSE_FO

In [21]:
expiryList = niftyDf['expiry'].unique().tolist()
expiryList.sort()
expiryList

[datetime.date(2023, 8, 31),
 datetime.date(2023, 9, 7),
 datetime.date(2023, 9, 14),
 datetime.date(2023, 9, 21),
 datetime.date(2023, 9, 28),
 datetime.date(2023, 10, 5),
 datetime.date(2023, 10, 26),
 datetime.date(2023, 12, 28),
 datetime.date(2024, 3, 28),
 datetime.date(2024, 6, 27)]

In [22]:
expiryList[0]

datetime.date(2023, 8, 31)

In [26]:
WeekExpiry = niftyDf[niftyDf.expiry == expiryList[0]]
WeekExpiry

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
8466,NSE_FO|48482,48482.0,BANKNIFTY23AUG37500CE,NaN,6753.20,2023-08-31,37500.0,0.05,15.0,OPTIDX,CE,NSE_FO
8467,NSE_FO|48483,48483.0,BANKNIFTY23AUG37500PE,NaN,2.40,2023-08-31,37500.0,0.05,15.0,OPTIDX,PE,NSE_FO
8468,NSE_FO|48484,48484.0,BANKNIFTY23AUG38000CE,NaN,6204.05,2023-08-31,38000.0,0.05,15.0,OPTIDX,CE,NSE_FO
8469,NSE_FO|48485,48485.0,BANKNIFTY23AUG38000PE,NaN,2.50,2023-08-31,38000.0,0.05,15.0,OPTIDX,PE,NSE_FO
8470,NSE_FO|48486,48486.0,BANKNIFTY23AUG38500CE,NaN,5728.15,2023-08-31,38500.0,0.05,15.0,OPTIDX,CE,NSE_FO
...,...,...,...,...,...,...,...,...,...,...,...,...
10414,NSE_FO|61232,61232.0,BANKNIFTY23AUG51000PE,NaN,6741.25,2023-08-31,51000.0,0.05,15.0,OPTIDX,PE,NSE_FO
10415,NSE_FO|61233,61233.0,BANKNIFTY23AUG51500CE,NaN,2.50,2023-08-31,51500.0,0.05,15.0,OPTIDX,CE,NSE_FO
10416,NSE_FO|61236,61236.0,BANKNIFTY23AUG51500PE,NaN,6600.00,2023-08-31,51500.0,0.05,15.0,OPTIDX,PE,NSE_FO
10417,NSE_FO|61237,61237.0,BANKNIFTY23AUG52000CE,NaN,2.30,2023-08-31,52000.0,0.05,15.0,OPTIDX,CE,NSE_FO
10418,NSE_FO|61238,61238.0,BANKNIFTY23AUG52000PE,NaN,7773.20,2023-08-31,52000.0,0.05,15.0,OPTIDX,PE,NSE_FO

In [28]:
expiryList_week = WeekExpiry['option_type'].unique().tolist()
expiryList_week.sort()
expiryList_week

['CE', 'PE']

In [27]:
WeekExpiry.shape

(186, 12)

In [30]:
WeekExpiry_pe = WeekExpiry[WeekExpiry.option_type == expiryList_week[0]]
WeekExpiry_pe

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
8466,NSE_FO|48482,48482.0,BANKNIFTY23AUG37500CE,NaN,6753.20,2023-08-31,37500.0,0.05,15.0,OPTIDX,CE,NSE_FO
8468,NSE_FO|48484,48484.0,BANKNIFTY23AUG38000CE,NaN,6204.05,2023-08-31,38000.0,0.05,15.0,OPTIDX,CE,NSE_FO
8470,NSE_FO|48486,48486.0,BANKNIFTY23AUG38500CE,NaN,5728.15,2023-08-31,38500.0,0.05,15.0,OPTIDX,CE,NSE_FO
8472,NSE_FO|48500,48500.0,BANKNIFTY23AUG39000CE,NaN,5210.00,2023-08-31,39000.0,0.05,15.0,OPTIDX,CE,NSE_FO
8474,NSE_FO|48512,48512.0,BANKNIFTY23AUG39500CE,NaN,4752.40,2023-08-31,39500.0,0.05,15.0,OPTIDX,CE,NSE_FO
...,...,...,...,...,...,...,...,...,...,...,...,...
10409,NSE_FO|61227,61227.0,BANKNIFTY23AUG50000CE,NaN,2.75,2023-08-31,50000.0,0.05,15.0,OPTIDX,CE,NSE_FO
10411,NSE_FO|61229,61229.0,BANKNIFTY23AUG50500CE,NaN,2.65,2023-08-31,50500.0,0.05,15.0,OPTIDX,CE,NSE_FO
10413,NSE_FO|61231,61231.0,BANKNIFTY23AUG51000CE,NaN,2.50,2023-08-31,51000.0,0.05,15.0,OPTIDX,CE,NSE_FO
10415,NSE_FO|61233,61233.0,BANKNIFTY23AUG51500CE,NaN,2.50,2023-08-31,51500.0,0.05,15.0,OPTIDX,CE,NSE_FO
10417,NSE_FO|61237,61237.0,BANKNIFTY23AUG52000CE,NaN,2.30,2023-08-31,52000.0,0.05,15.0,OPTIDX,CE,NSE_FO

#Tutorial 2

In [31]:
#https://www.youtube.com/watch?v=XJC58I4dYDQ&t=421s